@tailwind base;
@tailwind components;
@tailwind utilities;

/*
#contentList
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

#contentList li
{
    padding: 15px;
}
*/